.bg-red {
  background-color: rgb(242,60,60);
}

.ekuqe{
	color: red;
}

#about{
	background-image: url('../img/2000px.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.no-underline{
	text-decoration: none;

}

.dropbtn {
  color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}



.dropdown:hover .dropdown-content {display: block;}

.dropdown-link-red{
	size: 23px;

}

.small{
	width: 130px;
}

.hover-it:hover{
	color: black;
	font-weight: bold;
	font-size: 16px;
	transition: 0.4s; 
}
